@import "tailwindcss";



body {
  font-family: 'Inter', sans-serif;
}

/* Custom styles */
.product-card:hover .product-actions {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
}